body {
    font-family: 'Rosario', 'Tahoma',sans-serif;
}

img {
    display: block;
}

.header {
    max-width: 1920px;
    min-width: 1280px;
    height: 1080px;
    margin: 0 auto;
}

.gallery-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 45px 60px 45px;
}

.gallery-centr-foto {
    display: flex;
    min-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.foto-margin {
    margin-right: 18px;
    margin-bottom: 45px;
}

.foto-margin:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
}